body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    -webkit-user-select: none;
}

button {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    border-style: dashed;
    background-color: white;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.material-icons {
    font-size: 7em;
}


